/shelf/
/workspace.xml
/misc.xml
/modules.xml
/NewsAggregator.iml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/inspectionProfiles/profiles_settings.xml
/.idea/
/parse_data/session.session
/data/parsed/parsed.csv
